* {
	padding:0px;
	margin:0px;
    font-family: 微软雅黑, "Microsoft YaHei", 苹方, "Adobe 黑体", 宋体, sans-serif, "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cnewbody{
	background-color: #f8f8f8;
}
.ccontainer{
	width:1200px;
	margin:0px auto;

	padding-top:70px;
	padding-bottom:70px;
}
.ccontainer .ctime,.ccontainer .ctitle{
	font-size:28px;
	font-weight:normal;
	color:#2D7ABC;
	line-height:40px;
}
.ccontainer  .cdescription{
	font-size:24px;
	line-height:40px;
	color:#171717;
}
.cnumber{
	margin-top:10px;
	margin-bottom:50px;
}
.cnumber span{
	font-size:12px;
	padding-left:18px;
	color:#767676;
}

.ccollect{
	background: url("../images/ccollect.gif") no-repeat 0px -2px;	
	margin-right:10px;
}

.cread{
	background: url("../images/clook.gif") no-repeat;		
}
.ccontent-img{
	width:860px;
	height:360px;
	background: url("../images/cda.gif") ;
	background-size:100% 100%;
	margin:50px 0px;
}
.ccontent p{
	line-height:18px;
	font-size:14px;
	margin:15px 0px;
	color:#767676;
}
.ccontent h3{
	font-size:17px;
}
.ccontent p.cxiao{
	font-size:15px;
	margin:0px;
}

/*分页*/
.cpage{
	margin-top:45px;
}
.cpage a{
	width:264px;
	height:65px;
	float:left;

}
.cprev{
	background: url("../images/cprev.png");
	margin-right:25px;
	
}
.cnext{
	background: url("../images/cnext.gif");
}
.cclear{
	clear:both;
}

footer{
	background-color: #1C1C1C;
}
footer img{
	display: block;
	margin:0 auto;
}