#header {
    width: 100%;
    height: 75px;
    padding: 0 50px 0 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff;
}

#header .logo {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo img {
    width: 50px;
    height: 40px;
    display: block;
}

#header .logo .name h3 {
    font-size: 18px;
    color: #2e323d;
    line-height: 1.5;
}

#header .logo .name h6 {
    font-size: 10px;
    letter-spacing: 2px;
    color: #5d6373;
}

/* logo  */
#header .search {
    width: 300px;
    height: 38px;
    border: 1px solid #dedede;
    padding: 0 15px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-left: 10px;
}

#header .search .sleft {
    width: 25px;
    height: 16px;
}

#header .search .sinput {
    flex: 1;
    border: none;
    outline: none;
    font-size: 12px;
    color: #8a8a8a;
    letter-spacing: 4px;
}

#header .search .sright {
    width: 40px;
    height: 35px;
}

/* search */
#header .notice {
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .notice .nicon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 1px 10px 1px rgba(231, 231, 231, 0.75);
    background: url('../image/home/snotice.png') center no-repeat;
}

#header .notice .ncontent {
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    color: #b1b1b1;
    font-size: 14px;
}

#header .notice .ncontent p {
    padding-left: 5px;
    font-size: 14px;
    color: #757575;
}

/* notice */
#header .nav {
    width: 420px;
    height: 100%;
    line-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

#header .nav .list {
    width: 80px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#header .nav .list .point {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .nav .list .point li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 2px;
}

#header .nav .list .point li:first-of-type {
    background-color: #5660d2;
}

#header .nav .list .point li:last-of-type {
    background-color: #aaafe8;
}

#header .nav .list a {
    font-size: 14px;
    color: #8a8a8a;
}

#header .nav .list.hot a {
    color: #5660d2;
}
#header .nav .list.hot a:after {
    content: '';
    position: absolute;
    right:0;
    bottom: 0;
    width:64px;
    height: 4px;
    background-color: #26c08f;
}
#header .nav .list.hot .point li:first-of-type {
    background-color: #ffaf32;
}

#header .nav .list.hot .point li:last-of-type {
    background-color: #ffd798;
}

/* nav */