/*
* @Author: lenovo
* @Date:   2018-03-20 20:23:21
* @Last Modified by:   lenovo
* @Last Modified time: 2018-03-20 20:50:50
*/
.con{
	width: 998px;
    min-height: 656px;
    border: solid #e5e5e5 1px;
    margin: 0 auto;
}
.con .top{
	height: 35px;
    padding: 0 20px;
    border: #e5e5e5 1px;
}
.con .main{
	height: auto;
    padding: 30px 90px;
}
.con .main .title{
	font-size: 26px;
    color: #3D3D3D;
    font-weight: bold;
    line-height: 150%;
    text-align: center;
    border-bottom: 1px dashed #e0e0e0;
    margin-bottom: 20px;
}
.con .main .time{
	font-size: 12px;
    color: #3d3d3d;
    line-height: 22px;
    text-align: center;
}
.con .main .pic{
	width: 200px;
	height: 286px;
	margin: 30px auto;
}
.con .main .intro{
	margin-top: 20px;
}
.con .main .intro p{
	line-height: 30px;
	font-size: 18px;
}
.con .main .intro p b{
	font-weight: 600;
}