*{
    font-family: 微软雅黑, "Microsoft YaHei", 苹方, "Adobe 黑体", 宋体, sans-serif, "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body,ul,li,dl,dd,dt,h1,h2,h3,h4,h5,input{
    margin:0;
    list-style:none;
    padding:0;
}

body,html{
    width:100%;
    height:100%;
    overflow: hidden;
}
body{
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size:100% auto;
    background-position:left center;
    position: relative;
    background-color: #5963D6;
}
form#form{
    width:736px;
    height:534px;
    position: absolute;
    right:50px;
    top:0;
    bottom:0;
    margin:auto 0;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:left center;
    background-image: url("../img/box.png");
    padding:20px;
    box-sizing: border-box;
}
.word{
    width:100%;
    height:115px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:left center;
    background-image: url("../img/word.png");
}
#form label{
    width:100%;
    height:60px;
    display:block;
}
#form label input{
    float: left;
    display: block;
    height:60px;
    width:440px;
    border: none;
    outline: none;
    background-color: #f8f8f8;
    border-radius:30px;
    text-indent: 45px;
    font-size: 18px;
    line-height: 60px;

    letter-spacing: 1px;
}
#form label input::placeholder{
    color: #cbc9c9;
    letter-spacing: 1px;
}
#form label:nth-child(2){
    margin-top: 40px;
    margin-bottom: 20px;
}
#form label:nth-child(2) span{
    float: left;
    width:50px;
    height:50px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:left center;
    background-image: url("../img/person1.png");
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    margin:5px 35px 0 26px;
}

#form label:nth-child(3) span{
    float: left;
    width:50px;
    height:50px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:left center;
    background-image: url("../img/key1.png");
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    margin:5px 35px 0 26px
}
.find{
    height:40px;
    padding-left:112px;
    margin-top: 20px;
}
.find span{
    width:44px;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-image: url("../img/q.png");
    float: left;
    line-height: 40px;
    margin-right:10px;
}
.find a{
    float: left;
    line-height: 35px;
    color:#B7B7B7;
    text-decoration: none;
    font-size: 18px;
}
.go{
    width:196px;
    height:60px;
    margin-left:112px;
    background-color: #FFBB31;
    border-radius: 30px;
    box-shadow: 0 0 30px #FFBB31;
    margin-top: 25px;
    background-repeat: no-repeat;
    background-size:auto;
    background-position:center;
    background-image: url("../img/go.png");
    border:none;
    outline: none;
}
#red{
    width:119px;
    height:119px;
    background-repeat: no-repeat;
    background-size:auto;
    background-position:center;
    background-image: url("../img/red.png");
    position: absolute;
    right:260px;
    top:90px;
    animation: red 3s  alternate infinite;
}
#green{
    width:220px;
    height:249px;
    background-repeat: no-repeat;
    background-size:auto;
    background-position:center;
    background-image: url("../img/green.png");
    position: absolute;
    right:0;
    bottom:125px;
    animation: green 3s  alternate infinite;
}
@keyframes green {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(30px);
    }
}
@keyframes red{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(-30px);
    }
}