/*
* @Author: lenovo
* @Date:   2018-03-20 19:20:42
* @Last Modified by:   lenovo
* @Last Modified time: 2018-03-20 20:12:23
*/
.top{

}
.main{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 20px;
}
.main .contain{
	width: 800px;
	height: 100%;
	margin: 0 auto;
}
.main .contain .title{
	width: 100%;
	height: 50px;
	font-size: 30px;
	text-align: center;
}
.main .contain .title h4{
	margin-bottom: 10px;
}
.main .contain .article{
	width: 100%;
	height: 100%;
	text-align: left;
	font-size: 18px;
	margin-top:40px;
	font-weight: 300;
	line-height: 30px;
}
.main .contain .article .pic{
	width: 500px;
	margin: 25px auto;
}
.main .contain .article .pic img{
	width: 500px;
}