*{
    margin:0;
    padding:0;
    list-style: none;
    user-select: none;
}
* {
    font-family: 微软雅黑, "Microsoft YaHei", 苹方, "Adobe 黑体", 宋体, sans-serif, "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    background:#fcfcfc;
}
#wq-main{
    width:1200px;
    height:auto;
    margin:0 auto;
    min-height: 1000px;
}
.wq-leftside{
    width:292px;
    height:308px;
    background:#fff;
    float:left;
    border-bottom:4px solid #2ed85e;
    box-shadow:0 0 15px #aaa;
    padding-top:30px;
}
.wq-headpic{
    width:80px;
    height:80px;
    border-radius:50%;
    border:10px solid #e4e6f4;
    margin:0 auto;
    box-shadow:0 0 0 13px #fafafd;
    overflow: hidden;
}
.wq-headpic img{
    width:100%;
    height:auto;
}
.wq-username{
    font-family: MicrosoftYaHei Bold,Adobe 黑体 Std R;
    width:100%;
    height:24px;
    text-align: center;
    font-size: 24px;
    margin-top:22px;
}
.wq-typewrapper{
    width:213px;
    height:68px;
    margin:0 auto;
    margin-top:48px;
}
.wq-bars{
    font-family:'苹方-简 中黑体';
    width:187px;
    height:28px;
    border-radius:14px;
    background:#f8f8f8;
    color:#000;
    line-height: 28px;
    font-size: 14px;
    padding-left:26px;
    cursor: pointer;
}
.wq-bars a{
    color:#000;
   text-decoration: none;
}

.wq-bars.active a{
    color:#fff;
}
.wq-bars.active{
    background:#5660d3;
    color:#fff;
    box-shadow:0 5px 5px rgba(75, 82, 207, 0.46);
}
.wq-bars:nth-child(2){
    margin-top:13px;
}
.wq-bars span{
    float:right;
    padding-right:14px;
}

.wq-rightside{
    width:862px;
    min-height:500px;
    float:right;
}
.wq-title{
    padding-top:18px;
    height:106px;
    padding-left:11px;
}
.wq-zhcn{
    font-family:MicrosoftYaHei Bold,Adobe 黑体 Std R;
    height:46px;
    line-height: 46px;
    font-size: 34px;
    color:#d3d5f0;
}
.wq-en{
   font-family:SanFranciscoDisplay Light,Myriad Pro Regular;
   font-size: 20px;
    color:#d3d5f0;
    width:312px;
    text-transform: uppercase;
    height:57px;
}
.wq-line{
    width:75px;
    height:4px;
    background:#cacdf0;
}
.wq-dashline{
    width:auto;
    height:0;
    border-top:1px dashed #979797;
    margin-left:11px;
    margin-top:40px;
}
#wq-myform{
    width:auto;
    padding-left:11px;
    padding-top:39px;
}
#wq-myform label{
    width:auto;
    height:59px;
    display: block;
}
#wq-myform label span{
    font-family:"苹方-简 中黑体";
    float:left;
    width:121px;
    height:34px;
    text-align: center;
    line-height: 34px;
    background:#efefef;
    color:#000;
    border-radius:10px;
    font-size:14px;
}
#wq-myform label span.active{
    background:#5660d3;
    box-shadow:0 10px 10px rgba(86, 96, 211, 0.23);
    color:#fff;
}
#wq-myform label input{
    width:700px;
    height:34px;
    float:right;
    border-radius:15px;
    border:none;
    background:#efefef;
    padding-left:26px;
    box-sizing: border-box;
}
#wq-myform label input:focus{
    background:#fff;
    border:1px solid #d5d5d5;
}
#wq-myform label input:focus{
    outline: none;
}
.wq-bottomline{
    width:100%;
    height:2px;
    background:#d9e0d7;
    margin-top:14px;
}
.wq-inner{
    width:128px;
    height:6px;
    margin-top:-2px;
    background: rgba(86, 96, 211, 0.67);
    margin-left:11px;
    float:left;
}
.wq-save{
    width:132px;
    height:45px;
    border-radius:23px;
    text-align: center;
    line-height:45px;
    background:#5660d3;
    color:#fff;
    font-family: "苹方-简 中黑体";
    font-size: 20px;
    margin-left:11px;
    margin-top:41px;
    cursor:pointer;
}
