*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 微软雅黑, "Microsoft YaHei", 苹方, "Adobe 黑体", 宋体, sans-serif, "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
img{
	display: block;
}
.ydh_main{
	width: 1200px;
	min-height: 500px;
	margin: 0 auto;
	padding-top: 78px;
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 135px;
}
.ydh_main .ydh_imgBox{
	width: 380px;
	height: 460px;
	background-color: blue;
	float: left;
	overflow: hidden;
}
.ydh_main .ydh_imgBox img{
	width: 100%;
}
.ydh_main .ydh_con1{
	width: 750px;
	height: 460px;
	float: right;
	overflow: hidden;
}
.ydh_main .ydh_con1::before{
	content: "";
	display: block;
	width: 80px;
	height: 4px;
	background-color: #5660d4;
}
.ydh_main .ydh_con1 .ydh_name{
	padding: 20px 0;
	font-size: 36px;
}
.ydh_main .ydh_con1>ul{
	font-size: 18px;
	margin-top: 30px;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 38px;
}
.ydh_main .ydh_con1 .ydh_title{
	font-size: 16px;
	height: 48px;
	line-height: 48px;
	font-weight: bold;
	text-indent: 2em;
	position: relative;
	top: 0;
	left: 0;
}
.ydh_main .ydh_con1 .ydh_title::before{
	content: "";
	width: 10px;
	height: 10px;
	background-color: #000;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.ydh_main .ydh_con1 .ydh_content{
	font-size: 14px;
	line-height: 22px;
	color: #767676;
}
.ydh_main .ydh_con2{
	width: 100%;
	background-color: #fff;
	float: left;
	margin-top: 40px;
	padding-bottom: 70px;
}

.ydh_main .ydh_con2 .ydh_title{
	font-size: 16px;
	padding: 45px 0 15px;
	font-weight: bold;
	text-indent: 2em;
	position: relative;
	top: 0;
	left: 0;

}
.ydh_main .ydh_con2 .ydh_title span{
	font-weight: 200;
}
.ydh_main .ydh_con2 .ydh_title::before{
	content: "";
	width: 10px;
	height: 10px;
	background-color: #000;
	display: block;
	position: absolute;
	top: 50px;
	left: 0;
}
.ydh_main .ydh_con2 .ydh_content{
	font-size: 14px;
	line-height: 22px;
	color: #767676;
}
.ydh_main .ydh_btns{
	width: 100%;
	height: auto;
	float: left;
}
.ydh_main .ydh_btns .ydh_btn{
	width: 264px;
	height: 65px;
	background-image: url("ydh_img/ydh_prev.png");
	float: left;
	margin-right: 25px;
	overflow: hidden;
	border-radius: 65px;
}
.ydh_main .ydh_btns .ydh_btn:last-child{
	background-image: url("ydh_img/ydh_next.gif");
}
.ydh_main .ydh_btns .ydh_btn a{
	display: block;
	width: 100%;
	height: 100%;
}
footer{
	background-color: #1c1c1c;
}
footer img{
	width: 1205px;
	display: block;
	margin: 0 auto;
}