<%@ page language="java" contentType="text/html; charset=utf-8"
	pageEncoding="utf-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>person</title>
	<link rel="stylesheet" href="${pageContext.request.contextPath }/stageRescourse/css/ydh_person.css">
	<link rel="stylesheet" href="${pageContext.request.contextPath }/stageRescourse/css/cnew.css">
	
</head>
<body>
	<div class="ydh_main">
		<div class="ydh_imgBox">
			<img src="${pageContext.request.contextPath }/stageRescourse/ydh_img/ydh_person_03.png" alt="">
		</div>
		<div class="ydh_con1">
			<div class="ydh_name">李华玲（副教授，硕导）</div>
			<div class="ydh_date">发布日期：20018.3.27</div>
			<ul>
				<li>李华玲，女，硕士，云计算与大数据分析</li>
				<li>联系方式：120857486@qq.com</li>
			</ul>
			<div class="ydh_title">
				蜀中多仙山，九顶称一绝
			</div>
			<div class="ydh_content">
				扎尕那既像一座规模宏大的巨型宫殿，又似天然岩壁构筑的一座完整的古城，这里有“阎王殿”之称，最吸引人的莫过于正北面巍峨恢弘的光盖扎尕那既像一座规模宏大的巨型宫殿，又似天然岩壁构筑的一座完整的古城，这里有“阎王殿”之称，最吸引人的莫过于正北面巍峨恢弘的光盖扎尕那既像一座规模宏大的巨型宫殿，又似天然岩壁构筑的一座完整的古城，这里有“阎王殿”之称，最吸引人的莫过于正北面巍峨恢弘的光盖扎尕那既像一座规模宏大的巨型宫殿，又似天然岩壁构筑的一座完整的古城，这里有“阎王殿”之称，最吸引人的莫过于正北面巍峨恢弘的光盖
			</div>
		</div>
		<div class="ydh_con2">
			<div class="ydh_title">
				蜀中多仙山，九顶称一绝<span>&nbsp;/&nbsp;In sichuan, there are nine peaks</span>
			</div>
			<div class="ydh_content">
				扎尕那既像一座规模宏大的巨型宫殿，又似天然岩壁构筑的一座完整的古城，这里有“阎王殿”之称，最吸引人的莫过于正北面巍峨恢弘的光盖扎尕那既像一座规模宏大的巨型宫殿，又似天然岩壁构筑的一座完整的古城，这里有“阎王殿”之称，最吸引人的莫过于正北面巍峨恢弘的光盖扎尕那既像一座规模宏大的巨型宫殿，又似天然岩壁构筑的一座完整的古城，这里有“阎王殿”之称，最吸引人的莫过于正北面巍峨恢弘的光盖扎尕那既像一座规模宏大的巨型宫殿，又似天然岩壁构筑的一座完整的古城，这里有“阎王殿”之称，最吸引人的莫过于正北面巍峨恢弘的光盖
			</div>
			<div class="ydh_title">
				蜀中多仙山，九顶称一绝<span>&nbsp;/&nbsp;In sichuan, there are nine peaks</span>
			</div>
			<div class="ydh_content">
				扎尕那既像一座规模宏大的巨型宫殿，又似天然岩壁构筑的一座完整的古城，这里有“阎王殿”之称，最吸引人的莫过于正北面巍峨恢弘的光盖扎尕那既像一座规模宏大的巨型宫殿，又似天然岩壁构筑的一座完整的古城，这里有“阎王殿”之称，最吸引人的莫过于正北面巍峨恢弘的光盖扎尕那既像一座规模宏大的巨型宫殿，又似天然岩壁构筑的一座完整的古城，这里有“阎王殿”之称，最吸引人的莫过于正北面巍峨恢弘的光盖扎尕那既像一座规模宏大的巨型宫殿，又似天然岩壁构筑的一座完整的古城，这里有“阎王殿”之称，最吸引人的莫过于正北面巍峨恢弘的光盖
			</div>
		</div>
		<div class="ydh_btns">
			<div class="ydh_btn"><a href=""></a></div>
			<div class="ydh_btn"><a href=""></a></div>
		</div>
	</div>
	<footer>
		<img src="${pageContext.request.contextPath }/stageRescourse/ydh_img/ydh_footer_03.png" alt="">
	</footer>
</body>
</html>