@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#page {
  width: 100%;
  height:100%
}

/* line 22, sass/screen.scss */
#viewport-shadow {
  position: relative;
  width: 100%;
  height:100%;
}

/* line 29, sass/screen.scss */
#viewport, #box, .slide {
  width: 100%;
  height: 100%;
}

/* line 34, sass/screen.scss */
#viewport {
  overflow: hidden;
}

/* line 35, sass/screen.scss */
.footer {
  height:30px;z-index: 100;
  position: absolute;
  bottom: 0px;right:30px;
}

/* line 37, sass/screen.scss */
#controls {
  position: relative;
  top: -20px;
  float: right;
  overflow: hidden;
}
/* line 44, sass/screen.scss */
#controls li {
  display: inline;
}

/* line 48, sass/screen.scss */
.goto-slide {
  margin-left: 10px;
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  border: solid 1px #000;
  background-color: #555;
  border-radius: 8px;
  -webkit-box-shadow: inset 0px 0px 8px #333;
  -moz-box-shadow: inset 0px 0px 8px #333;
  box-shadow: inset 0px 0px 8px #333;
}
/* line 62, sass/screen.scss */
.goto-slide.current {
  background-color: #2edbac;

}

/* line 66, sass/screen.scss */
#next, #prev {
  position: absolute;
  top: 80px;
  width: 30px;
  height: 300px;
  background: url(../img/next-prev-sprite.png) no-repeat;
  display: block;
  -webkit-transition: background .4s;
  -moz-transition: background .4s;
  transition: background .4s;
}
/* line 78, sass/screen.scss */
#next:hover, #prev:hover {
  background: url(../img/next-prev-sprite-hover.png) no-repeat;
  border: none;
}

/* line 85, sass/screen.scss */
#prev {
  left: 90px;
}

/* line 86, sass/screen.scss */
#next, #next:hover {
  left: 840px;
  background-position: -30px 0;
}

/* line 90, sass/screen.scss */
#effect-switcher h2 {
  border-bottom: solid 1px #555;
  margin: 0 0 10px;
}

/* line 97, sass/screen.scss */
#effect-list {
  overflow: hidden;
}
/* line 99, sass/screen.scss */
#effect-list li {
  display: inline;
}

/* line 102, sass/screen.scss */
.effect, .effect:hover {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  border: solid 1px black;
  border-radius: 7px;
  padding: 10px 12px 6px;
  color: #ccc;
  text-decoration: none;
  background-color: #555;
  -webkit-box-shadow: inset 0px 0px 8px #000;
  -moz-box-shadow: inset 0px 0px 8px #333;
  box-shadow: inset 0px 0px 8px #333;
}
/* line 117, sass/screen.scss */
.effect.current, .effect:hover.current {
  color: #2edbac;
}

/* line 123, sass/screen.scss */
#time-indicator {
  width: 0px;
  height: 3px;
  background-color: #2edbac;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 100;
}

/* line 132, sass/screen.scss */
#credits {
  margin: 20px 0 40px;
  padding: 10px 0 0;
  color: #555;
  font-size: .9em;
}
#credits p{
	line-height:24px
}